@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

#searchbar {
    background: lightgray;
    margin: 1%;
    padding: 0.5%;
    text-align: center;
}

menu.div {
    border: 1px solid black;
    display: inline;
}

.button {
    background-color: lightblue;
    border: 1px solid black;
    margin: 0.5%;
    padding: 0.5%;
    display: inline;
}

.button:hover {
    background-color: white;
    cursor: pointer;
}

.searchbar_option {
    display: inline;
}

#menu_competence {
    border: 1px solid black;
}

#menu_site {
    border: 1px solid black;
}

div#retour {
    border: 5px solid rgb(8, 97, 20);
    background-color: rgb(121, 197, 114);
    box-shadow: 5px 5px 30px black;
}

.result {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border: 1px solid black;
    margin: 30px 15px;
    padding: 1px;
}

.result:hover {
    background-color: lightblue;
    cursor: pointer;
}

.button {
    cursor: pointer;
}